@page "/todo"
@using BlazorSchulungApril.Data
@inject AufgabenVM vm
<h3>ToDo  App</h3>

<div class="input-group mb-3">
    @*<input type="datetime-local" class="form-control" @bind="NeuAufgabe.ErledigtBis"
        @bind:culture='System.Globalization.CultureInfo.GetCultureInfo("en-US")'
        @bind:format="dd.MM.yyyy hh:mm">*@
    <input class="form-control" @bind="NeuAufgabe.ErledigtBis">
    <input type="text" class="form-control" @bind="NeuAufgabe.Text" @onkeyup="check4enter">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" @onclick="save">Save</button>
    </div>
</div>

<ul class="list-group">
    @foreach (var item in vm.Aufgaben)
    {
    <li class="list-group-item">
        @if (item.IsEdit)
        {
            <input @bind="item.Text" @onfocusout="@(_=>item.IsEdit=false)" />

        }
        else
        {
            <input type="checkbox" @bind="item.Erledigt" />
            <span style='@(item.Erledigt?"text-decoration:line-through":"")' 
                  @onclick="@(_=>item.IsEdit=true)"
                  >
                @item.Text @item.ErledigtBis.ToShortDateString()
            </span>
        }




    </li>
    }
</ul>
@code {
    public Aufgabe NeuAufgabe { get; set; } = new Aufgabe();

    void save()
    {
        var a = new Aufgabe();
        a.ErledigtBis = NeuAufgabe.ErledigtBis;
        a.Text = NeuAufgabe.Text;
        vm.Add(a);

    }

    protected override Task OnInitializedAsync()
    {
        vm.laden();
        return base.OnInitializedAsync();
    }

    void check4enter(KeyboardEventArgs e)
    {
        if (e.Key == ConsoleKey.Enter.ToString())
        {
            save();
        }
    }

}
